# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Flutter 平台生成物
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/android/local.properties
**/android/.gradle/
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Local database
*.db
